<style>
    body{
        width: 100%;
        height: 100%;
	    background-image: url(https://acegif.com/wp-content/uploads/gifs/book-22.gif);
        background-size: 100%;
    }
</style>

<h2 style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;"> BlogStories <i class="fas fa-book-reader"></i> </h2>
<p> Libera la tua mente, e scrivi tutte le storie che vuoi.</p>
<div class="divider"></div>

<div class="section">
    <p class="lead"> <h5> Il sito creato appositamente per dare sfogo alla propria libertà di scrittura.</h5></p>
</div>

<p> effettua il Login e goditi una piacevole immersione nella lettura delle storie della nostra community</p>
<div class="divider"></div>
<br>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Log In With Google
    </a>
</div>
