<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stories from around the world</title>
    <style>
    body{
        width: 100%;
        height: 100%;
        background-image: url(https://www.panorama.it/media-library/blog.jpg?id=20545796&width=300);
        background-size: 8%;
    }
    .news{
        width: 100%;
        height: 100%;
        background-image: url(https://www.pixelstalk.net/wp-content/uploads/2016/09/All-White-Background-for-Desktop.jpg);
        background-size: 8%;
    }
    </style>
</head>
<body>
    <h3 class="center" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin: 0 auto; color:rgb(255, 85, 0); background: rgb(86, 85, 81); padding: 2px; padding-top: 1px; border: 2px solid rgb(255, 85, 0); border-radius: 25px;">
        Stories from the world
    </h3>
    <p id="newsUpdate"></p>
<script>
function httpGet(theUrl) {
  let xmlHttpReq = new XMLHttpRequest();
  xmlHttpReq.open("GET", theUrl, false); 
  xmlHttpReq.send(null);
  return xmlHttpReq.responseText;
}
 //document.getElementById("ne").innerHTML = httpGet('https://newsapi.org/v2/everything?q=bitcoin&apiKey=9d41669e3e6f4b5a8ccb024298e7ae9b');
 var newsString = httpGet('https://newsapi.org/v2/top-headlines?country=it&apiKey=9d41669e3e6f4b5a8ccb024298e7ae9b');
 /*var newsArray = newsString.split(':').join(', ').split(',');
 
 for(var i=0;i<100;i++){
    if(newsArray[i]=="\"title\"")
        document.getElementById("ne").innerHTML += newsArray[i+1].replaceAll('"','')+"<br/>"; 
    if(newsArray[i]=="\"description\"")
        document.getElementById("ne").innerHTML += newsArray[i+1].replaceAll('"','')+"<br/>"; 
    if(newsArray[i]=="\"url\"")
        document.getElementById("ne").innerHTML += "Read full story to: "+newsArray[i+1].replaceAll('"','')+"<br/>"+"<br/>"; 
 }*/
 for(var i=0;i<20;i++){
    let tempString="";
    tempString += "<div class=\"news\">"; 

    var numInizio = newsString.search('title');
    newsString = newsString.substring(numInizio);
    var numFine = newsString.search('\",');
    tempString += "<b>"+newsString.substring(8,numFine)+"</b>"+"<br/>"; 
    newsString = newsString.substring(numFine);

    var numInizio = newsString.search('description');
    newsString = newsString.substring(numInizio);
    var numFine = newsString.search('\",');
    tempString += newsString.substring(14,numFine)+"<br/>"; 
    newsString = newsString.substring(numFine);

    var numInizio = newsString.search('url');
    newsString = newsString.substring(numInizio);
    var numFine = newsString.search('\",');
    tempString += "<a href="+newsString.substring(6,numFine)+">Leggi di più su questa storia<a>"+"<br/>"; 
    newsString = newsString.substring(numFine);

    /*var numInizio = newsString.search('urlToImage');
    newsString = newsString.substring(numInizio);
    var numFine = newsString.search('\",');
    tempString = "<img src=\""+newsString.substring(13,numFine)+"\" width=\"50\" height=\"60\">"+tempString; 
    newsString = newsString.substring(numFine);*/

    tempString += "</div><br/>"; 

    document.getElementById("newsUpdate").innerHTML+=tempString;
 }

</script>
</body>
</html>